[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
odps = "*"
pyodps = "*"
aiohttp = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
jupyter = "*"

[requires]
python_version = "3.7"
